    <div class="container">
      <div class="jumbotron">
        <h1>Academic Load Planner</h1>
        <p class="lead">Using a collection of teachers, courses, classrooms and students, this app will create a schedule based on best fit, the scheduler will try to satisfy all the students needs, meet up with the teacher's schedule and make sure that the classrooms are all used wisely.</p>
        <p class="lead">Made by: <strong>Jorge Caballero</strong></p>
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Get started! Create a Teacher first! &raquo;</a>
      </div>
    </div>
